* {
    font-family: "Inter", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
}

.ms-swiper-prev,
.ms-swiper-next {
    background-color: #e4e4e4;
    width: 50px !important;
    height: 50px !important;
    aspect-ratio: 1/1;
    border-radius: 100px;
    transition: all 0.3s;
}

.ms-swiper-prev:hover,
.ms-swiper-next:hover {
    background-color: white;
}

.ms-swiper-prev::after,
.ms-swiper-next::after {
    font-size: 17px !important;
    color: black !important;
}

.ms-hamburger-menu {
    display: none;
}

@media screen and (max-width:1280px) {

    .ms-menu-list,
    .ms-sep-line {
        /* display: none !important; */
    }

    .ms-hamburger-menu {
        /* display: block !important; */
    }
}

.ms-hero-pagination-white span {
    width: 12px;
    height: 12px;
    background-color: white;
}

.ms-hero-pagination-black span {
    width: 12px;
    height: 12px;
    background-color: black;
}


.nav-for-slider .swiper-slide {
    height: auto;
    width: auto;
    cursor: pointer;

}

.swiper-wrapper {
    height: auto;
}

.nav-for-slider .swiper-slide img {
    border: 2px solid transparent;
    border-radius: 10px;

}

.nav-for-slider .swiper-slide-thumb-active img {

    border-color: rgb(79 70 229);
}

.subCategory .swiper-slide {
    width: fit-content !important;
    max-width: 180px;
}

.ms-mobile-footer {
    display: none !important;
}
     
#searchButton {
    display: none !important;
}

@media screen and (max-width:820px) {
    #searchButton {
        display: block !important;
    }

    /* .ms-search {
        display: none;
    } */
    
}

@media screen and (max-width:720px) {

    .ms-hero-section .ms-swiper-next,
    .ms-hero-section .ms-swiper-prev {
        display: none !important;
    }

    .ms-hero-content {
        text-align: center !important;
        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%, -50%) !important;
    }
}

@media screen and (max-width:1024px) {

    .ms-mobile-footer {
        display: flex !important;
    }

    .ms-menu-list {

        display: none !important;
    }

    .ms-search {
        padding-right: 0 !important;
    }
}


.mega-menu {
    opacity: 0;
    visibility: hidden;
    z-index: -900;
    left: 0;
    position: absolute;
    text-align: left;
    width: 100%;
    transition: all 0.15s linear 0s;
}



/* #hoverable Class Styles */
.hoverable {
    position: static;
}

.hoverable>a:after {
    content: "\25BC";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
}

.hoverable:hover .mega-menu {
    opacity: 1;
    visibility: visible;
    z-index: 900;
}

.ms-search-small-screen {
    display: none;
}

@media screen and (max-width:460px) {

    #searchButton,
    .ms-lang {
        display: none;
    }

    .ms-search {
        display: none;
    }

    .ms-search-small-screen {
        display: block;
    }

    


    .ms-hero-pagination-white span {
        width: 8px;
        height: 8px;
    }
    
    .ms-hero-pagination-black span {
        width: 8px;
        height: 8px;
    }

}

@media screen and (max-width:560px) {
    .ms-swiper-prev,
    .ms-swiper-next {

        width: 40px !important;
        height: 40px !important;
        display: none !important;
    }
}

/* @media screen and (max-width:680px) {
    .ms-buy-now-btn {
        width: 100%;
    }
} */

/* 
.gm-style div[role="dialog"] {
    display: none !important;
} */

/* .hidden-header {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  } */